*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}